<!-- This is the top Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">GitHubAPI</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <div>
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search by Username"
          [(ngModel)]="username"
          name="username"
          (keyup)="doUserSearch()"
        />
      </div>
      <div>
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search by Repo Name"
          [(ngModel)]="repo"
          name="repos"
          (keyup)="doRepoSearch()"
        />
      </div>
    </form>
  </div>
</nav>

<!-- This is the body of the Page -->
<!-- This will display based on UserName -->
<div class="container-fluid" *ngIf="!repo">
  <div style="margin-top: 3%" class="panel panel-default">
    <div class="panel-heading">
      <h1 class="text">{{ userData.login }}</h1>
      <span *ngIf="">Works at {{ userData.company }}</span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <img
            src="{{ userData.avatar_url }}"
            class="img-fluid img-thumbnail image"
            alt="Profile Image"
          />
        </div>
        <div class="col-md-8">
          <div class="start">
            <span class="badge badge-primary"
              >{{ userData.public_repos }} Public Repos</span
            >
            <span class="badge badge-secondary"
              >{{ userData.public_gist }} Public Gist</span
            >
            <span class="badge badge-success"
              >{{ userData.followers }} Followers</span
            >
            <span class="badge badge-info"
              >{{ userData.following }} Following</span
            >
            <br />

            <ul class="list-group">
              <li class="list-group-item">
                <strong>Username:</strong> {{ userData.login }}
              </li>
              <li class="list-group-item">
                <strong>Location:</strong> {{ userData.location }}
              </li>
              <li class="list-group-item">
                <strong>Email:</strong> {{ userData.email }}
              </li>
              <li class="list-group-item">
                <strong>Bio:</strong> {{ userData.bio }}
              </li>
              <li class="list-group-item">
                <strong>Member Since:</strong>
                {{ userData.created_at | dateslice }}
              </li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Repositories</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <div *ngFor="let repo of repos">
                  <div class="row">
                    <div class="col-md-9">
                      <h3>{{ repo.name }}</h3>
                      <p>{{ repo.description }}</p>

                      <h4>
                        <a href="{{ repo.html_url }}" target="_blank"
                          ><button class="btn btn-primary">
                            View on github
                          </button></a
                        >
                      </h4>
                    </div>

                    <div class="col-md-3">
                      <span class="label label-default"
                        >{{ repo.watchers }} Stars
                      </span>
                      <span class="label label-primary"
                        >{{ repo.forks }} Forks
                      </span>
                    </div>
                  </div>
                  <hr />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- This is to display Repo content -->
<div class="container-fluid" *ngIf="repo">
  <div style="margin-top: 3%" class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Repositories</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-9">
                    <h3>{{ repos.name }}</h3>
                    <p>{{ repos.description }}</p>
                    <h4>
                      <a href="{{ repos.html_url }}" target="_blank"
                        ><button class="btn btn-primary">
                          View on github
                        </button></a
                      >
                    </h4>
                  </div>

                  <div class="col-md-3">
                    <span class="label label-default"
                      >{{ repos.watchers }} Stars
                    </span>
                    <span class="label label-primary"
                      >{{ repos.forks }} Forks
                    </span>
                  </div>
                </div>
                <hr />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
