*{
    overflow-x: hidden;
}
.navbar{
    background-color: #183a1d;
}
.btn{
    margin-right: 1rem;
}
.badge{
    margin-right: 1rem;
}
.panel-heading>h1{
    font-family: Dancing Script;
    font-size: 6vw;
    padding-left: 3rem;
    
}
.image{
    border-color:#f0a04b;
    border-width: .2rem;
    border-radius: 20rem;
}
.panel-title{
    font-family: Concert One;
    font-size: 5vw;
    padding-left: 2rem;
    padding-bottom: 2rem;
}
.panel-body{
    padding-left: 1rem;
}